<nav class="teal darken-4">
    <div class="nav-wrapper">
      <a class="brand-logo">reqres.in</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light" routerLink="">Home</a></li>
        <li><a class="waves-effect waves-light" routerLink="/usuarios">Usuarios</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
      </ul>
    </div>
  </nav>
